.four-content{
    width:100%;
    height:100%;
    position: relative;
}
.four-wrap{
    width:1344px;
    height:700px;
    background:rgb(170, 111, 55);
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
.four-nav{
    width:270px;
    height:700px;
    position: absolute;
    left:0;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.four-nav-ul{
    width:100%;
    height:100%;
    background:#fff;
}
.four-nav-select{
    width:100%;
    height:20%;
    background:#f40;
    box-sizing: border-box;
    /* border-left:5px solid #f40; */
    border-bottom:5px solid rgb(148, 6, 6);
    text-align:center;
    line-height:135px;
    font-size:30px;
    color:#fff;
    font-family:"Kaushan Script", cursive;
    font-weight:600;
    cursor:pointer;
}
.four-nav-select:hover{
    background:#fff;
    color:#f40;
    border-bottom-color:#6c6c6c;
}
.four-nav-ul>.four-last-select{
    border-bottom:0;
    line-height:140px;
}
.four-information{
    position: absolute;
    left:270px;
    width:1074px;
    height:700px;
    overflow:hidden;
}
/* 用户信息 */
.userinfo{
    width:100%;
    height:100%;
    box-sizing:border-box;
}
.userinfo-centent{
    width:100%;
    height:100%;
    background: #6c6c6c;
}
/* 用户信息 */
.userinfo-centent>.myinfo{
    height:200px;
    width:100%;
    background:#fff;
    box-sizing:border-box;
    padding:20px 40px;
}
.usertit{
    height:100%;
    width:40%;
    float:left;
}
.user-face-box{
    width:150px;
    height:150px;
    border-radius:50%;
    background: #6c6c6c;
    margin-left:5px;
    margin-top:5px;
    float:left;
}
.user-faceinfo{
    width:242px;
    height:100%;
    margin-left:160px;
    background:#f0f;
}
.user-faceinfo>span{
    display:block;
}
.user-faceinfo>.username{

}
.user-faceinfo>.userid{
    
}
.user-faceinfo>.usergrade{
    
}
.user-faceinfo>.usersay{
    
}
.usermoney {
    height:100%;
    width:60%;
    float:right;
    background:#0ff;
}
/* 用户商品信息 */
.userinfo-centent>.mygoods{
    height:200px;
    width:100%;
    background:#6c6c6c;
}
/* 用户特权 */
.userinfo-centent>.myprivilege{
    height:300px;
    width:100%;
    background:#fff;
}
/* 商品区 */

.four-goods-wrap{
    width:100%;
    height:100%;
    background:#0ff;
    overflow: hidden;
    box-sizing:border-box;
}

.four-goods-wrap>ul::after{
    content:"";
    display:block;
    clear:both;
}

.four-goods-title{
    height:50px;
    width:100%;
    background:#fff;

}
.four-goods-title>ul{
    height:100%;
    border-bottom:3px solid #f3f4f6;
    box-sizing: border-box;
    padding:0 20px;
}
.four-goods-title>ul::after{
    content:"";
    display:block;
    clear:both;
    
}
.four-goods-title>ul>li{
    float:left;
    width:93px;
    height:100%;
    border-bottom:3px solid rgba(255,255,0,0.8);
    line-height:50px;
    text-align:center;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}
.four-goods-title>ul>.goods-bar2{
    border-bottom:3px solid rgba(255,255,0,0);
}
.four-dl-goods{
    height:100%;
}
.four-dl-goods{
    height:650px;
}